.git
.gitignore
.github
.env*
!.env.example
!.env.production.example
README.md
documentation/
node_modules/
vendor/
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
.phpunit.result.cache
*.log
tests/
.editorconfig
docker-compose*.yml
Dockerfile*
.DS_Store
.idea
.vscode
.phpactor.json
Thumbs.db
